* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
header {
    background: #000;
}

body {
    background-color:#fff;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    
    
}
.navbar {
    width: 88%;
    margin: auto;   
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}
.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    color: rgb(100, 0, 0);
}
i{
    text-align: right;
}

